ellipse/fbp_mom
ellipse/fbp_nomom
ellipse/cache_ellipses_train_fbp.npy
ellipse/cache_ellipses_validation_fbp.npy
ellipse/checkpoints
ellipse/deconv_mom
ellipse/deconv_nomom
ellipse/cache_lodopab_train_fbp.npy
ellipse/cache_lodopab_validation_fbp.npy
ellipse/datELLIPSE
ellipse/datLODOPAB
ellipse/datELLIPSElong
ellipse/datLODOPABlong
ellipse/datELLIPSE_deconvlong
ellipse/datLODOPAB_deconvlong
ellipse/figs/*/*.pdf
ellipse/figs_deconv/*/*.pdf
